{% extends 'film_site/base.html' %}
{% load staticfiles %}

<title>
{% block title_block %}
    Account Page
{% endblock %}

</title>
{% block head_block %}
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}

{% block body_block %}

    <div class="filminfo">
        <h1> Account</h1>
        <div class="profilepic">
            {% if currentuser.picture.url != None %}
                <img src="{{ currentuser.picture.url }}" height="180" width="150" class="profileimage">
            {% else %}
                <img src="{{ MEDIA_URL }}blank-profile-picture.png"  height="180" width="150" class="profileimage">
            {% endif %}
        </div>
        <div class="accountinfo">
            <div> <h2> Username:  {{currentuser.user }}</h2></div>
            <div><h2>Email:  {{currentuser.email }}</h2></div>
        </div>

    </div>

    <div class="sidetab">
         {% if Accountreviews %}
                <h1>Your Reviews</h1>

                {% for r in Accountreviews %}
                     <ul>
                         <li>{{r.film }}</li>
                         <li>{{r.rating }} /5 </li>
                         <li>{{r.reviewtext}}</li>


                    </ul>
                {% endfor %}
            {% else %}
            <strong> No reviews for this film yet.</strong>
            {% endif %}



    </div>





{% endblock %}
