{% extends 'film_site/base.html' %}
{% load static %}
<title>
{% block title_block %}
    Add a Page
{% endblock %}
</title>

{% block head_block %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock %}

{% block body_block %}
    <div class="form_css">
        <h1>Add Review to: {{ film.name }}</h1>

            <form id="add_review_form" method="post" action="{% url 'film_site:add_review'  film.slug %}">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Add Review"/>
            </form>
    </div>
{% endblock %}