<!DOCTYPE html>


{% load rango_template_tags %}
{% load staticfiles %}



<html >
    <head lang="en">
        <meta charset="UTF-8">
        <title>Popcorn
            {% block title_block %}
                popcor
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'form.css' %}">
    </head>

    <body>
    <div class="parent" >
        <div class="div1"> <a href="{% url 'film_site:index' %}">logo</a> </div>
        <div class="div2"> <div class="nested">  <a href="{% url 'film_site:about' %}">Category</a> </div>    </div>
        <div class="div3"> <div class="nested">  <a href="{% url 'film_site:about' %}">Genres</a> </div>    </div>


        <div class="div4">
            {% if user.is_authenticated %}
               <div class="nested">  <a href="{% url 'film_site:logout' %}">Logout</a> </div>
            {% else %}
                <div class="nested">  <a href="{% url 'film_site:register' %}">Sign Up</a></div>

                <div class="nested">  <a href="{% url 'film_site:login' %}">Login</a></div>
            {% endif %}

        </div>




        <div class="div12">
            {% block body_block %}
            {% endblock %}
        </div>
        <div class="div13">
        {% block sidebar_block %}
            {% get_category_list category %}
        {% endblock %}
        </div>

        <hr/>
        <div class="div14">
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'film_site:restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'film_site:logout' %}">Logout</a></li>
                <li><a href="{% url 'film_site:add_category' %}">Add a New Category</a></li>

            {% else %}
                <li><a href="{% url 'film_site:register' %}">Sign Up</a></li>
                <li><a href="{% url 'film_site:login' %}">Login</a></li>
            {% endif %}
                <li><a href="{% url 'film_site:about' %}">About</a></li>
                <li><a href="{% url 'film_site:index' %}">Index</a></li>

            </ul>
        </div>
    </div>
    </body>
</html>