<!DOCTYPE html>


{% load rango_template_tags %}
{% load staticfiles %}



<html >
    <head lang="en">
        <meta charset="UTF-8">
        <title>Popcorn
            {% block title_block %}
                popcorn
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'form.css' %}">
        {% block head_block %}
        {% endblock %}
    </head>

    <body>
        <div class="navbar" >
           <a  class="logo" href="{% url 'film_site:index' %}"> <img src="{{ MEDIA_URL }}icon.png" alt="Logo" width="45px" height="45px" /> Rated Reels  </a>

             {% if user.is_authenticated %}
                <a href="{% url 'film_site:logout' %}">Logout</a>
                <a href="{% url 'film_site:Account' %}">Account</a>

            {% else %}
                <a href="{% url 'film_site:register' %}">Sign Up</a>

                <a href="{% url 'film_site:login' %}">Login</a>
            {% endif %}
            <a href="{% url 'film_site:show_trending' %}">Trending</a>
            <div class="dropdown">
                <button class="dropbtn">Genre
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">

                    <a href="{% url 'film_site:show_film_genre' 1 %}"> Action Adventure </a>
                    <a href="{% url 'film_site:show_film_genre' 2 %}"> Comedy </a>
                    <a href="{% url 'film_site:show_film_genre' 3 %}"> Crime </a>
                    <a href="{% url 'film_site:show_film_genre' 4 %}"> Horror </a>
                    <a href="{% url 'film_site:show_film_genre' 5 %}"> Sci-Fi </a>


                </div>
            </div>


        </div>


        <div class="div12">
            {% block body_block %}
            {% if user.is_staff %}
                <div class="nested">  <a href="{% url 'film_site:register' %}">bruh</a></div>

                <div class="nested">  <a href="{% url 'film_site:login' %}">Login</a></div>
            {% endif %}
            {% endblock %}
        </div>

        <div class="div13">

        </div>


        <div class="div14">

            {% if user.is_authenticated %}

                <a href="{% url 'film_site:logout' %}">Logout</a>


            {% else %}
                <a href="{% url 'film_site:register' %}">Sign Up</a>
                <a href="{% url 'film_site:login' %}">Login</a>
            {% endif %}

                <a href="{% url 'film_site:index' %}">Index</a>

            </ul>
        </div>

    </body>
</html>