<!--{% extends 'film_site/base.html' %}-->
<!--{% load staticfiles %}-->

<!--{% block title_block %}-->
<!--    {% if category %}-->
<!--        {{ category.name }}-->
<!--    {% else %}-->
<!--        Unknown Category-->
<!--    {% endif %}-->
<!--{% endblock %}-->

<!--{% block body_block %}-->

<!--&lt;!&ndash;-->

<!--    <ul>-->
<!--        {% for page in pages %}-->
<!--        <li><a href="{{ page.url }}">{{ page.title }}</a></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--    {% else %}-->
<!--    <strong> No pages currently in category.</strong>-->
<!--    {% endif %}-->
<!--    &ndash;&gt;-->




<!--&lt;!&ndash;-->
<!--    {% if user.is_authenticated %}-->

<!--    <a href="{% url 'film_site:add_review' category.slug %}">Add page</a> <br />-->
<!--    {% endif %}-->
<!--    {% else %}-->

<!--    The Specified category does not exist.-->
<!--    {% endif %}-->
<!--  &ndash;&gt;-->

<!--{% endblock %}-->