{% extends 'film_site/base.html' %}
{% load staticfiles %}
<title>
{% block title_block %}
    Login
{% endblock %}

</title>

{% block body_block %}

 <div class ="container">

        <section class="sidenav">

            <div class="item">
                <h1>az item</h1>
            </div>
            <div class="item">
                <h1>az item</h1>
            </div>
            <div class="item">
                <h1>az item</h1>
            </div>
            <div class="item">
                <h1>az item</h1>
            </div>
            <div class="item">
                <h1>az item</h1>
             </div>

        </section>


    </div>

<div>


</div>
{% endblock %}