{% extends 'film_site/base.html' %}
{% load static %}


<title>
{% block title_block %}
    Contact Us
{% endblock %}
</title>



{% block body_block %}

<h1> Contact Us </h1>

<div class= "bodycontainer">
    <p>Hi, we are 2nd year students at the University of Glasgow. We're making a movie review website as part of our course. We hope you find the site easy to navigate and informative on a range of films.
    If you have any issues or think we could improve somehow, please feel free to contact us at:</p>
    <p>ratedReels@gmail.com</p>


   <img src="{{ MEDIA_URL }}UOGPic.jpg" alt="Picture of Uni of Glasgow Coat of Arms" height="90" width="70"/>
</div> 


{% endblock%}