{% extends 'film_site/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if film %}
        {{ film.name }}
    {% else %}
        Unknown Film
    {% endif %}
{% endblock %}

{% block body_block %}

    {% if film %}
        <div class="filminfo">
            <h1> {{ film.name }}</h1>

            <img src="{{ film.img.url }}" height="270" width="180">
            {{ film.director }}
            {{ film.bio }}

             <a href="{% url 'film_site:show_film_genre' film.category%}"> {{ film.get_category_display}}  </a>

            {{ avgrating.rating__avg|floatformat:1 }}


            <div class="Similar films">
                {% for f in similar_films %}
                     {% if film.name == f.name %}

                    {% else %}
                    <strong> {{f.name}}</strong>
                    {% endif %}
                {% endfor %}
            </div>
         </div>

        <div class="reviewtab">
            {% if reviews %}
                <h1>Reviews for this film</h1>

                {% for r in reviews %}
                     <ul>

                         <li>{{r.rating }} /5 </li>
                         <li>{{r.reviewtext}}</li>
                         <li>By: {{r.reviewer}} </li>

                    </ul>
                {% endfor %}
            {% else %}
            <strong> No reviews for this film yet.</strong>
            {% endif %}
        </div>







        {% if user.is_authenticated %}

        <a href="{% url 'film_site:add_review' film.slug %}">Add review</a> <br />
        {% endif %}
        {% else %}

    The Specified Film does not exist.
    {% endif %}


{% endblock %}