{% extends 'film_site/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if film %}
        <h1> {{ film.name }}</h1>
    {% if pages %}
    <ul>
        {% for r in review %}
        <li>{{ review.rating }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <strong> No reviews for this film yet.</strong>
    {% endif %}



    {% if user.is_authenticated %}

    <a href="{% url 'film_site:add_review' film.slug %}">Add review</a> <br />
    {% endif %}
    {% else %}

    The Specified Film does not exist.
    {% endif %}


{% endblock %}