{% extends 'film_site/base.html' %}
{% load static %}


{% block title_block %}
    {% if film %}
        {{ film.name }}
    {% else %}
        Unknown Film
    {% endif %}
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'film.css' %}">
{% endblock %}



{% block body_block %}

    {% if film %}
        <div class="bodycontainer">
             <h1> {{ film.name }}</h1>


            <img src="{{ film.img.url }}" height="270" width="180" class="bigfilm">
            <br>

            <div class="biotext">

                 <strong>Director: </strong>{{ film.director }}<br><br>
                 <strong>Description: </strong>{{ film.bio }}<br><br>
                 <strong>Category: </strong><a href="{% url 'film_site:show_film_genre' film.category%}"> {{ film.get_category_display}}  </a> <br><br>
                 <strong>Rating:  </strong>{{ avgrating.rating__avg|floatformat:1 }}
            </div>


            {% if user.is_authenticated %}
              <div class="AddReview">
                </br>
                <a href="{% url 'film_site:add_review' film.slug %}">Add review</a>
              </div>
            {% endif %}
         
            <div class="Similarfilms">
             <h3>Similar films</h3>
                {% for f in similar_films %}
                    {% if film.name == f.name %}
                    {% else %}
                     <div class="container">
                         <img src="{{ f.img.url }}" height="180" width="130" class="filmimage">
                         <div class="middle">
                             <div class="text">
                                 <a href="{% url 'film_site:show_film' f.slug %}">
                                     {{ f.name }}</a>
                             </div>

                         </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="sidetab">
            {% if reviews %}
                <h1>Reviews for this film</h1>

                {% for r in reviews %}
                     <ul>

                         <li>{{r.rating }} /5 </li>
                         <li>{{r.reviewtext}}</li>
                         <li>By: {{r.reviewer}} </li>

                    </ul>
                {% endfor %}
            {% else %}
            <strong> No reviews for this film yet.</strong>
            {% endif %}
        </div>

    {% else %}
        The Specified Film does not exist.
    {% endif %}


{% endblock %}