{% extends 'film_site/base.html' %}
{% load static %}

{% block title_block %}
    {% if category %}
        {{ category.catname }}
    {% else %}
        Unknown category
    {% endif %}
{% endblock %}

{% block body_block %}

    {% if category %}
        <div class="bodycontainer">
            <h1> {{ catname }}</h1><br>


            <div class="topfilms">
                <h1> Most Popular</h1>
                {% for f in topFilms %}
                    <div class="container">
                         <img src="{{ f.img.url }}" height="180" width="130" class="filmimage">
                         <div class="middle">
                             <div class="text">
                                 <a href="{% url 'film_site:show_film' f.slug %}">
                                     {{ f.name }}</a>
                             </div>
                         </div>
                        <div class="ratingtext">
                            Rating : {{f.rating }}/5
                        </div>
                    </div>


                {% endfor %}
            </div>
            <br>

            <div class="sidetab">
                <h3>A-Z {{ catname }} films </h3>

                {% for f in catFilms %}
                    <a href="{% url 'film_site:show_film' f.slug %}">{{ f.name }}</a>
                    <br>

                {% endfor %}
            </div>


         </div>
        <br>


        {% if user.is_authenticated %}

        {% endif %}


    {% else %}
    The Specified category does not exist.
    {% endif %}


{% endblock %}