{% extends 'film_site/base.html' %}
{% load staticfiles %}


<title>
{% block title_block %}
    Homepage
{% endblock %}
</title>



{% block body_block %}
    <h1>Home</h1>
  <!--  <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
        <br />
        <strong>{{ boldmessage }} </strong> <br />
    </div>
-->
    <div>
            <h2>Highest rated films</h2>
        {% if films %}
            <ul>
                {% for film in films %}
                    <li>
                        <a href="{% url 'film_site:show_film' film.slug %}">{{ film.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}

        {% endif %}
        </div>

        <div><strong>
            <h2>reviews for this film</h2>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                       {{ review.rating }}
                    </li>
                {% endfor %}
            </ul>
            </strong>
        {% else %}
            <strong> There are no Pages present. </strong>
        {% endif %}
        </div>




{% endblock%}