{% extends 'film_site/base.html' %}
{% load static %}


<title>
{% block title_block %}
    Homepage
{% endblock %}
</title>



{% block body_block %}
    <div class="indexcontainer">
    <h1>Home</h1>

            <h2>Top rated films</h2>
        {% if toprated %}


                {% for film in toprated %}
                    <div class="container">
                         <img src="{{ film.img.url }}" height="300" width="210" class="filmimage">
                         <div class="middle">
                             <div class="text">
                                 <a href="{% url 'film_site:show_film' film.slug %}">
                                     {{ film.name }}</a>
                             </div>
                         </div>
                    </div>



                {% endfor %}

        {% else %}
        {% endif %}
</div>
{% endblock%}