{% extends 'film_site/base.html' %}
{% load staticfiles %}


<title>
{% block title_block %}
    Homepage
{% endblock %}
</title>



{% block body_block %}
    <h1>Home</h1>
  <!--  <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
        <br />
        <strong>{{ boldmessage }} </strong> <br />
    </div>
-->
    <div>
            <h2>Top 5 rated films</h2>
        {% if toprated %}

                {% for film in toprated %}
                    <div class="container">
                         <img src="{{ film.img.url }}" height="300" width="210" class="filmimage">
                         <div class="middle">
                             <div class="text">
                                 <a href="{% url 'film_site:show_film' film.slug %}">
                                     {{ film.name }}</a>
                             </div>
                         </div>
                    </div>



                {% endfor %}

        {% else %}

        {% endif %}
        </div>




{% endblock%}