{% extends 'film_site/base.html' %}
{% load staticfiles %}
<title>
{% block title_block %}
   Register
{% endblock %}
</title>

{% block body_block %}
    <div class="form_css">
        <h1>Register for Rated Reels</h1>
        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="{% url 'film_site:index' %}">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here</strong><br />
        <form id="user_form" method="post" action="{% url 'film_site:register' %}"

            enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </div>
{% endblock %}