{% extends 'film_site/base.html' %}
{% load staticfiles %}

{% block title_block %}

{% endblock %}

{% block body_block %}

    {% if recentreviews %}
        <div class="filminfo">
            <h1> Trending </h1><br>

            <div class="topfilms">
                {% for f in trendingfilms %}
                    <div class="container">
                         <img src="{{ f.img.url }}" height="180" width="130" class="filmimage">
                         <div class="middle">
                             <div class="text">
                                 <a href="{% url 'film_site:show_film' f.slug %}">
                                     {{ f.name }}</a>
                             </div>

                         </div>
                         <div class="ratingtext">
                                Rating : {{f.rating }}/5
                         </div>
                    </div>


                {% endfor %}
            </div>
            <br>

            <div class="sidetab">
                <h3>Recent Reviews </h3>

                {% for r in recentreviews %}
                    <h3> {{r.film}}</h3>
                     <ul>

                         <li>{{r.rating }} /5 </li>
                         <li>{{r.reviewtext}}</li>
                         <li>By:{{r.reviewer}} </li>

                    </ul>
                {% endfor %}
            </div>


         </div>
        <br>


        {% if user.is_authenticated %}

        {% endif %}


    {% else %}
    The Specified category does not exist.
    {% endif %}


{% endblock %}