.navbar{
    overflow: hidden;
    background-color: #BBB;
    font-family: Arial;

}
.navbar a {
  float: right;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;

}
a.logo {
  float: left;
  font-size: 34px;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;

}




